.container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    height: 10rem;
    margin-bottom: 1rem;
    animation: appearFromAbove 0.8s;
  }

  > div {
    background: var(--black-op-700);
    padding: 3rem 10rem;
    box-shadow: 30px 30px 100px var(--blue-dark);

    animation: appearFromAbove 2s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        margin-bottom: 2rem;
        font-weight: 500;
      }
    }
  }
}

.links {
  font-weight: bold;
  margin-top: 3rem;

  a {
    color: var(--yellow-500);
    margin-left: 0.5rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

@keyframes appearFromAbove {
  from {
    transform: translateY(-1000px);
  }to {
    transform: translateY(0);
  }
}
