.container {
  height: 100vh;

  display: flex;

  div {
    max-width: 1120px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form {
      width: 12.25rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      input {
        text-align: center;
        width: calc(100% + 2rem);
        height: 2.5rem;
        border-radius: 3rem;
        border: 2.5px solid var(--blue);
        background: transparent;
        color: var(--red);
        font-weight: 400;
        font-size: 1rem;

        transition: all 0.2s;

        &+input {
          margin-top: 1rem;
        }

        &:focus {
          border: 2.5px solid var(--green);
          box-shadow: 0 0 40px var(--green);
        }
      }

      button {
        margin-top: 2rem;
        background: transparent;
        color: var(--white);
        border: 2.5px solid var(--green);
        height: 3rem;
        border-radius: 3rem;
        align-self: stretch;

        transition: all 0.2s;

        &:hover {
          background: var(--green);
          box-shadow: 0 0 40px var(--green);
        }
      }

      .avatarInput {
        margin-bottom: 3rem;
        position: relative;
        align-self: center;

        img {
          width: 11.6rem;
          height: 11.6rem;
          border-radius: 50%;
        }

        label {
          position: absolute;
          width: 3rem;
          height: 3rem;
          background: var(--yellow-800);
          border-radius: 50%;
          right: 0;
          bottom: 0;
          border: 0;
          cursor: pointer;

          transition: filter 0.2s;

          display: flex;
          align-items: center;
          justify-content: center;

          input {
            display: none;
          }

          svg {
            width: 20px;
            height: 20px;
            color: var(--gray);
          }

          &:hover {
            filter: brightness(0.8);
          }
        }
      }
    }
  }
}
