.container {
  display: flex;

  height: 100vh;
}

.content {
  width: 1400px;
  margin: 64px auto;

  display: flex;

  animation: appearFromOpacity0 2s;

  div {
    h1, h2 {
      margin: 1rem 0;
    }

    padding: 3rem;
  }

  div.pokemons {
    display: flex;
    flex-direction: column;
    width: 50%;

    background: var(--black-op-700);

    & + div {
      margin-left: 4rem;
    }

    section {
      display: flex;
      flex-direction: column;

       div {
        padding: 0.5rem;
        border-radius: 0.5rem;
        background: var(--blue-dark);

        display: flex;
        align-items: center;
        justify-content: space-around;

        transition: all 0.3s;

        button {
          background: transparent;
        }

        p {
          display: flex;

          img + img {
            margin-left: 1rem;
          }
        }

        strong {
          flex: 1;
          max-width: 100px;
          font-size: 1.5rem;
        }

        & + div {
          margin-top: 1rem;
        }

        &:hover {
          box-shadow: 0 10px 10px var(--blue);
          transform: scale(1.1);
        }
      }
    }
  }

  div.stats {
    width: 50%;
    display: flex;
    justify-content: space-between;

    background: var(--black-op-700);

    section {
      flex: 1;
      display: flex;
      align-items: center;
      flex-direction: column;
      background: var(--blue-dark);

      div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;

        p {
          & + p {
            margin-top: 0.3rem;
          }
        }
      }

      & + section {
        margin-left: 2rem;
      }
    }
  }
}


@keyframes appearFromOpacity0 {
  from {
    opacity: 0;
  }to {
    opacity: 1;
  }
}
